div {
    box-sizing: border-box;
    overflow: hidden;
}

/* BODY */
body {
    background-color: #F2F2F2;
}

/* HEADER */
#header {
    background-color: #FFF;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 60px;
    display: table;
}



/* DIVS */
#wrapper500 {
    width: 500px;
}

#wrapper1020 {
    width: 1020px;
}

#wrapper500, #wrapper1020 {
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #FFF;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

.full {
    display: inline-block;
    width: 100%;
    float: left;
    display: table;
}
.half {
    display: inline-block;
    width: 50%;
    float: left;
    display: table;
}

.third {
    display: inline-block;
    width: 33%;
    float: left;
    display: table;
    text-align: left;
    padding: 5px;
}

.row {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

/* BUTTONS */
input[type=submit] {
    border: none;
}

.button a,
input[type=submit] {
    width: 100%;
    display: table-cell; 
    vertical-align: middle;
    height: 60px;
    text-decoration: none;
    font-family: serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #4CAF50;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button a:hover,
input[type=submit]:hover{
    background-color: #4CAF50;
    color: white;
}

/* PIZZA TOPPINGS */
#toppings {
    text-align: left;
}

#pizzaOptions {
    padding: 20px;
}
#pizzaImage {
    padding: 20px;
    position: relative;
    text-align: center;
}

.toppingImage {
    position: absolute;
    top: 20px;
    left: 75px;
}

div a {
    box-sizing: border-box;
    text-align: center;
}

/* TABLES */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* INPUT */
input[type=text], input[type=tel] {
    width: 100%;
    border-bottom: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: #F2FCF3;
    font-size: 14px;
    height: 25px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=text]:hover,
input[type=tel]:hover {
    border: 1px solid #4CAF50;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dedede;
}

/* LIST */
li {
    list-style-type: none;
}